* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  background: #401f71;
  color: #fffff0;
}
.foto {
  display: none;
}

header h1 {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0.5em;
  margin-left: 10vw;
}
ul {
  position: absolute;
  top: 1.5em;
  margin-left: 10px;
  height: 100%;
  z-index: 1;
}
li {
  margin-left: 10px;
  display: inline-block;
}
.arrow {
  display: inline-block;
  border-top: 3px solid #fffff0;
  border-left: 3px solid #fffff0;
  width: 20px;
  height: 20px;
}
.arrow::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 0.7em;
  left: 10px;
  border-top: 3px solid #fffff0;
  border-left: 3px solid #fffff0;
  width: 15px;
  height: 15px;
  animation: arrow1 1s infinite ease-in-out;
  -webkit-animation: arrow1 1s infinite ease-in-out;
}
.arrow:after {
  content: " ";
  display: inline-block;
  position: relative;
  top: 0.3em;
  left: 20px;
  border-top: 3px solid #fffff0;
  border-left: 3px solid #fffff0;
  width: 10px;
  height: 10px;
  opacity: 0;
  animation: arrow2 1s infinite ease-in-out;
  -webkit-animation: arrow2 1s infinite ease-in-out;
  animation-delay: 0.4s;
}
.arrow-top {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
@keyframes arrow1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    transform: translate(-10px, -10px);
    -webkit-transform: translate(-10px, -10px);
    -moz-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    -o-transform: translate(-10px, -10px);
  }
}
@keyframes arrow2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
    transform: translate(-15px, -15px);
    -webkit-transform: translate(-15px, -15px);
    -moz-transform: translate(-15px, -15px);
    -ms-transform: translate(-15px, -15px);
    -o-transform: translate(-15px, -15px);
  }
}
.arrow-top:hover {
  cursor: pointer;
  opacity: 0.5;
  scale: 0.9;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  /* margin-right: 50px; */
  top: 2em;
  flex-wrap: wrap;
}

.foto-kkn {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 20vw 0;
  row-gap: 20px;
  grid-template-rows: auto;
  column-gap: 20px;
  gap: 10px;
}
.foto-kkn img,
.foto-lab img,
.foto-upacara img {
  width: auto;
  height: 15vw;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  animation: fade 0.5s;
  -webkit-animation: fade 0.5s;
}
.foto-kkn img:hover,
.foto-lab img:hover,
.foto-upacara img:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
  cursor: pointer;
}
.foto-kkn img:nth-child(1) {
  height: 100%;
  width: 20vw;
}
.foto-kkn img:nth-child(6) {
  grid-column: 1/3;
  height: auto;
  width: 40vw;
  grid-row: 1/3;
}
.foto-kkn img:nth-child(4) {
  grid-column: 2/3;
  height: auto;
  width: 40vw;
  grid-row: 4/4;
}
.foto-upacara {
  gap: 10px;
  grid-column: column;
  grid-template-columns: auto auto;
  margin-left: 3vw;
}
.foto-lab {
  gap: 0;
  grid-template-columns: auto auto;
  margin-left: 25vw;
  gap: 10px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 350px;
  height: 100%;
  color: #fffff0;
  top: 6em;
}
.bg-sidebar {
  background-color: #dac0a3;
  height: 700px;
  width: 500px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.fa-solid {
  position: relative;
  font-size: 30px;
  margin: 10px;
  color: #401f71;
  z-index: 2;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}
.fa-angles-right {
  position: absolute;
  right: 10px;
  font-size: 30px;
}
.title-foto {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 700px;
  font-size: 25px;
  top: -1.4em;
  color: #401f71;
}
.dd-foto {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700px;
  color: #401f71;
  text-align: center;
}
.fa-solid:hover {
  color: #fffff0;
}
@media (max-width: 476px) {
  .main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 55px;
    /* max-width: 100vh; */
  }
  .foto-kkn,
  .foto-lab,
  .foto-upacara {
    margin-top: 10px;
  }
  .foto-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70vh;
  }
  .foto-kkn {
    display: grid;
    grid-auto-flow: dense;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    margin: 0;
    gap: 10px;
    row-gap: 0;
  }
  .foto-kkn img {
    width: 45vw;
    height: 15vmax;
  }
  .foto-kkn img:nth-child(1) {
    height: 15vmax;
    width: 45vw;
  }
  .foto-kkn img:nth-child(6) {
    grid-column: 1;
    height: 15vmax;
    width: 45vw;
    grid-row: 1;
  }
  .foto-kkn img:nth-child(4) {
    grid-row: 1;
    height: 15vmax;
    width: 45vw;
    grid-row: 1;
  }
  .foto-lab img {
    width: 90%;
    border-radius: 20px;
    height: 90%;
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;
  }
  .foto-lab {
    margin: 0;
    gap: 10px;
    height: 60vh;
    align-content: stretch;
  }
  .foto-lab img:hover {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    cursor: pointer;
  }
  .foto-upacara img {
    border-radius: 20px;
    width: 90%;
    height: 90%;
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -ms-transition: ease 0.3s;
    -o-transition: ease 0.3s;

  }
  .foto-upacara img:hover {
    filter: brightness(1);
    -webkit-filter: brightness(1);
    cursor: pointer;
  }
  .foto-upacara,
  .foto-lab {
    grid-template-columns: auto;
    justify-items: center;;
  }
  .sidebar {
    max-width: 100vh;
    width: 100%;
  }
  .bg-sidebar {
    position: absolute;
    top: -2em;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .header h1 {
    position: relative;
    margin-top: 0.2em;
    margin-left: 0;
    font-size: 25px;
  }
  .title-foto {
    top: -1.5em;
  }
  .fa-solid {
    font-size: 24px;
  }
  .dd-foto {
    display: none;
  }
}
